.DS_Store
.pydevproject
*.pyc
*.tmp
*.swp
Configuration
control/python
control/Configuration
control/config.py
gather/config.py
gather/python
lib/python/python
postprocess/config.py
postprocess/python
schema/python
schema/config.py
*~
gather/sql.log
.settings/
.project/
testdata/python
unittest/gatherer/python
unittest/python
